@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inconsolata', monospace;
  line-height: 1.6;
  letter-spacing: 0.001em;
  font-size: 18px;
  background: #121212;
  color: #fff;
}

* {
  box-sizing: border-box;
}

a {
  color: #00a6f3;
  position: relative;
  text-decoration: none;
  transition: all 0.1s;
}

a:hover {
  background-color: #00a6f3;
  color: #121212;
  padding-top: 0.1em;
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  border-radius: 0.1em;
}

img {
  max-width: 100%;
  display: block;
}

::-webkit-scrollbar {
  width: 0.5em;
}

::-webkit-scrollbar-track {
  background: #121212;
}

::-webkit-scrollbar-thumb {
  background: #00a6f3b6;
}

main p a {
  color: #00a6f3;
  position: relative;
  text-decoration: none;
}

main p a:hover {
  color: #00a6f3;
  background: #12121200;
  padding: 0;
  text-decoration: underline;
}